@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.fullClass {
  background-color: #343739;
  position: relative;
  width: 350px;
  height: 205px;
  margin: 0px 0px 20px 20px;
  color: #9f9f9f;
}
.top_info {
  position: absolute;
  top: 10px;
  left: 15px;
  display: flex;
}
.checkBox {
  display: block;
  height: 20px;
  width: 20px;
  accent-color: white;
  cursor: pointer;
}
.checkBox:checked {
  accent-color: #ff7901;
  fill: white;
}
.checkBox:checked:after {
  color: white;
}

.title {
  margin-left: 10px;
  line-height: 18px;
}
.thumbnail {
  width: 100%;
}
.thumbnail img {
  width: 100%;
}

h3 {
  color: #d1d1d1;
}
h4 {
  font-size: 14px;
}
h1,
h2,
h3,
h4,
div {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}

.fullClass .category1 {
  border-bottom: 25px solid red;
}
.fullClass .category2 {
  border-bottom: 25px solid blue;
}
.fullClass .category3 {
  border-bottom: 25px solid green;
}
.fullClass .category4 {
  border-bottom: 25px solid yellow;
}
.fullClass .category5 {
  border-bottom: 25px solid orange;
}
.fullClass .category11 {
  border-bottom: 25px solid purple;
}
.fullClass .category21 {
  border-bottom: 25px solid white;
}
.fullClass .category31 {
  border-bottom: 25px solid brown;
}
.fullClass .category41 {
  border-bottom: 25px solid greenyellow;
}
.fullClass .category51 {
  border-bottom: 25px solid pink;
}
.square-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  float: right;
  height: 20px;
  width: 20px;
  border-left: 25px solid transparent;
}

.fullClass:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
  cursor: pointer;
}

.fullball {
  height: 8px;
  width: 8px;
  margin: 5px 0px 0px 10px;
  background-color: #b9b9b9;
  border-radius: 50px;
}

.emptyball {
  height: 8px;
  width: 8px;
  margin: 5px 0px 0px 10px;
  background-color: #454545;
  border-radius: 50px;
}

.balls {
  display: flex;
}
.level {
  display: flex;
}

.date {
  margin-left: 10px;
}

.finished {
  width: 90px;
  height: 20px;
  background-color: #ff7901;
  display: flex;
  text-align: center;
  justify-content: center;
  color: #fff9f5;
  border-radius: 50px;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0px 0px 0px 0px;
  line-height: 20px;
  position: absolute;
  top: 125px;
  left: 15px;
}
